<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="recipeMapper">
	<insert id="insertBoardOne" parameterType="map">
		INSERT INTO RECIPE VALUES(SEQ_RNO.NEXTVAL, #{NA}, #{IT}, #{WR}, #{RIMG, jdbcType=BLOB}, #{CO}, 1)
	</insert>
</mapper>